@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    
    background: url("/public/SuperMarioBackground.png") no-repeat center center;
    background-size: cover;
}

.settings-content {
    font-family: 'Press Start 2P', cursive;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding: 40px;
    min-height: 100vh;
}

.settings-content h1 {
    font-size: 32px;
    margin-bottom: 40px;
    text-shadow: 3px 3px #000;
}

.setting-item {
    margin: 20px auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-item label {
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 2px 2px #000;
}

.setting-item input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #444;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.setting-item input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #ffcc00;
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 50%;
}

.setting-item input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffcc00;
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 50%;
}


setting-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.6rem;
    user-select: none;
}

.setting-item input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 4px;
    background: #222;
    cursor: pointer;
    position: relative;
}

.setting-item input[type="checkbox"]:checked {
    background: #4caf50;
    border-color: #fff;
}

.setting-item input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px black;
}


.back-button {
    margin-top: 40px;
    padding: 12px 24px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #45a049;
}
